<div class="my-3">
    <h2>Concat Map</h2>
    <p>Flattening Operator</p>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4 text-danger">
            <strong>Ex-01 | Map </strong>
            <hr>
            <p class="bg-light py-2 px-3 border-round"><strong>Videos : </strong>['Tech', 'Comedy', 'News']</p>
            <hr>
            <ul id="elContainer1">
                <!-- <li>Data</li>
                <li>Data</li>
                <li>Data</li>
                <li>Data</li> -->
            </ul>
            <hr>
            <p> <strong>Note: </strong>It return data because it uses <strong>subscribe</strong> inside <strong>subscribe</strong> </p>
            <hr>
            <ul id="elContainer11">

            </ul>
            
        </div>

        <div class="col-md-4 text-primary">
            <strong>Ex-02 | Map + ConcatAll</strong>
            <hr>
            <p class="bg-light py-2 px-3 border-round"><strong>Videos : </strong>['Tech', 'Comedy', 'News']</p>
            <hr>
            <ul id="elContainer2">
                <!-- <li>Data</li>
                <li>Data</li>
                <li>Data</li>
                <li>Data</li> -->
            </ul> 
        </div>

        <div class="col-md-4 text-success">
            <strong>Ex-03 | concatMap </strong>
            <hr>
            <p class="bg-light py-2 px-3 border-round"><strong>Videos : </strong> ['Tech', 'Comedy', 'News']</p>
            <hr>
            <ul id="elContainer3">
                <!-- <li>Data</li>
                <li>Data</li>
                <li>Data</li>
                <li>Data</li> -->
            </ul>
        </div>
    </div>
</div>