<div class="my-3">
    <h2>Of and From</h2>
    
    <strong style="background-color: aquamarine;">Ex -01 (Of)</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border-round"><strong>Data: </strong>Of('Ashish', 'Tarun', 'Abhishek')</p>

            <hr>
            <p><strong>Output</strong></p>
            <ul id="elContainer"></ul>
        </div>
    
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border-round"><strong>Data: </strong>Of('a':'Ashish', 'b':'Tarun', 'c':'Abhishek')</p>

            <hr>
            <p><strong>Output</strong></p>
            <ul>
                <li><strong>a: </strong>{{obsMsg.a}}</li>
                <li><strong>b: </strong>{{obsMsg.b}}</li>
                <li><strong>c: </strong>{{obsMsg.c}}</li>
            </ul>  
        </div>
        
        <strong style="background-color: aquamarine;">Ex -02 (From)</strong>
        <hr>
    
        <div class="row">
            <div class="col-md-4">
                <strong>Array</strong>
                <hr>
                <p class="bg-light py-2 px-3 border-round"><strong>Data: </strong>From(['Angular', 'React', 'Javascript'])</p>
    
                <hr>
                <p><strong>Output</strong></p>
                <ul id="elContainer3"></ul>
            </div>

            <div class="col-md-4">
                <strong>Promise</strong>
                <hr>
                <p class="bg-light py-2 px-3 border-round"><strong>Data: </strong>Promise to observable</p>
    
                <hr>
                <p><strong>Output</strong></p>
                <ul id="elContainer4"></ul>
            </div>

            <div class="col-md-4">
                <strong>String</strong>
                <hr>
                <p class="bg-light py-2 px-3 border-round"><strong>Data: </strong>String to observable</p>
    
                <hr>
                <p><strong>Output</strong></p>
                <ul id="elContainer5"></ul>
            </div>
        </div>



</div>
