<div class="my-3">
    <h2>Merge</h2>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>Source-01 | Tech Channel(5) </strong>
            <hr>
            <p class="bg-light py-2 px-3 border-round"><strong>Tech Video List : </strong>1,2,3,4,5</p>
            
        </div>

        <div class="col-md-4">
            <strong>Source-02 | Comedy Channel(3)</strong>
            <hr>
            <p class="bg-light py-2 px-3 border-round"><strong>Tech Video List : </strong>1,2,3</p>
            
        </div>

        <div class="col-md-4">
            <strong>Source-03 | Tech News(4) </strong>
            <hr>
            <p class="bg-light py-2 px-3 border-round"><strong>Tech Video List : </strong> 1,2,3,4</p>
            
        </div>
    </div>

    <hr>

    <div class="row ">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Tech Video List</div>
                <div class="card-body">
                    <ul id="elContainer1">
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header justify-content-center">Comedy Video List</div>
                <div class="card-body">
                    <ul id="elContainer2">
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header justify-content-center">News Video List</div>
                <div class="card-body">
                    <ul id="elContainer3">
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <hr>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Your Channel Subscriber</div>
                <div class="card-body">
                    <ul id="elContainer">
                        <!-- <li>Video</li>
                        <li>Video</li>
                        <li>Video</li>
                        <li>Video</li>
                        <li>Video</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>