<!-- <div class="row">
    <div class="col-md-2">
        <div class="list">
            <ul>
                <a routerLink="fromEvent">formEvent</a>
                <a routerLink="interval">Interval</a>
                <a routerLink="of-from">Of and From</a>
                <a routerLink="to-array">To Array</a>
                <a routerLink="custom-observable">Custom-Observable</a>
                <a routerLink="map">Map</a>
                <a routerLink="pluck">Pluck</a>
                <a routerLink="filter">Filter</a>
                <a routerLink="tap">Tap</a>
                <a routerLink="take">Take</a>
                <a routerLink="retry">Retry</a>
                <a routerLink="dbounce-time">Debounce Time</a>
                <a routerLink="subject">Subject</a>
                <a routerLink="replay-subject">Replay Subject</a>
                <a routerLink="async-subject">Async Subject</a>
                <a routerLink="concat">Concat</a>
                <a routerLink="Merge">Merge</a>
            </ul>
        </div>
    </div>  
</div>

<div class="row">
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>    
</div> -->


<div class="row">
    <div class="col-md-2">
        <div class="list">
            <ul>
                <a routerLink="fromEvent">formEvent</a>
                <a routerLink="interval">Interval</a>
                <a routerLink="of-from">Of and From</a>
                <a routerLink="to-array">To Array</a>
                <a routerLink="custom-observable">Custom-Observable</a>
                <a routerLink="map">Map</a>
                <a routerLink="pluck">Pluck</a>
                <a routerLink="filter">Filter</a>
                <a routerLink="tap">Tap</a>
                <a routerLink="take">Take</a>
                <a routerLink="retry">Retry</a>
                <a routerLink="dbounce-time">Debounce Time</a>
                <a routerLink="subject">Subject</a>
                <a routerLink="replay-subject">Replay Subject</a>
                <a routerLink="async-subject">Async Subject</a>
                <a routerLink="concat">Concat</a>
                <a routerLink="merge">Merge</a>
                <a routerLink="merge-map">Merge Map</a>
                <a routerLink="concat-map">Concat Map</a>
                <a routerLink="concat-map2">Concat Map 2</a>
                <a routerLink="switch-map">Switch Map</a>
                <a routerLink="merge-concat-switch-map">Merge Concat Switch Map</a>
                <a routerLink="switch-map-searching">Switch Map Seraching Functionality</a>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>